body{
    background-color: rgb(191, 191, 245);
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chocolate;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chocolate;
}
div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chocolate;
}
#menuBG{
    width: 400px;
    height: 470px;
    margin: 10px auto;
}
#frmMenu{
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: 1fr;
    width: 400px;
    height: 200px;
    
}
#totalPrice{
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;

}
.left{
    width: 200px;
    height: 200px;
    float: left;
}
.right{
    width: 200px;
    height: 200px;
    float: right;
}

#showText{
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}
#cart{
    top:0;margin: 0px auto;
    width: 400px;
    height: 200px;

}
#btnOrder{
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
}