.center-container{
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}
table{
    border-collapse: collapse;
    border-style: hidden;
}
td{
    cursor: pointer;
    border: 4px solid rgba(252,169,3,.8);
    padding: 0px;
    width: 200px;
    height: 200px;
    filter: contrast(3);
}