h1 {
    text-align: center;
}

.center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td {
    width: 200px;
    height: 200px;
    border: 4px solid rgb(35, 67, 249);
    padding: 0px;
    cursor: pointer;
    filter: contrast(3);
    background-size: cover;
    background-repeat: no-repeat;
}
canvas{
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

body{
    background-color: antiquewhite;
}